
    
<div class="navbar-container block w-full fixed top-0 left-0 z-100  p-4   sm:w-full" >
    <div class="navbar w-[80%] md:w-[80%] m-auto flex items-center justify-between md:justify-evenly p-1 rounded-lg border border-gray-800/5 bg-white/30 relative">
        <div class="logo  w-[18%] md:w-[18%] px-2 ">
            <a href="http://localhost:4200/"> <img src="assets/images/logo.png" alt="Logo EatBetter" class="logo hover:cursor-pointer" ></a>
        </div>
        <!-- <form class="flex items-center max-w-sm mx-auto space-x-2">   
            <div class="relative w-full">
               <input type="search" id="simple-search" name="search" 
                 class="px-2 py-1.5 bg-neutral-secondary-medium border border-gray-300 rounded-lg ps-9 text-heading text-sm focus:ring-brand focus:border-brand block w-full placeholder:text-body" placeholder="Search fruit name..."   [(ngModel)]="testoDigitato" (input)="searchFruit()" />
            </div>
            <button type="submit" class="inline-flex items-center justify-center shrink-0 text-white rounded-lg bg-green-800 hover:cursor-pointer hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs rounded-base w-9 h-9 focus:outline-none" (click)="findYourFruit()">
               <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>   
           </button>
        </form> -->
        <form class="flex items-center  min-w-0 w-40 sm:w-56 md:w-auto md:flex-1 max-w-sm mx-2 md:mx-auto space-x-2">   
    <div class="relative w-full min-w-0">
       <input type="search" id="simple-search" name="search" 
         class="px-2 py-1.5 bg-neutral-secondary-medium border border-gray-300 rounded-lg ps-9 text-heading text-xs sm:text-sm focus:ring-brand focus:border-brand block w-full placeholder:text-body" 
         placeholder="Search fruit..."   [(ngModel)]="testoDigitato" (input)="searchFruit()" />
    </div>
    <button type="submit" class="inline-flex items-center justify-center shrink-0 text-white rounded-lg bg-green-800 hover:cursor-pointer hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs rounded-base w-9 h-9 focus:outline-none" (click)="findYourFruit()">
       <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>   
   </button>
</form>
   




        
    <!-- TOGGLE BUTTON -->
     <!-- ? VEDERE SE FARLO COMPARIRE PRIMA -->
     <div class="w-fit ">
           <button id="menu-btn" class="shrink-0 block md:hidden z-100 text-gray-400 hover:text-white focus:outline-none" aria-label="Toggle Menu" (click)="showButton()">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://w3.org">
        <path id="menu-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
     </div>

 

    <!--  BUTTONS VISIBILI SOLO DA MD IN GIù E AL CLICK DEL TOGGLE -->
    @if(isToggleBtnClicked()){
       <div class="md:hidden absolute top-full left-0 w-full mt-2 flex flex-col items-center gap-2 bg-white/90 rounded-lg border border-gray-800/5 p-3 z-50">
           <button class="p-1 mr-2 rounded-md hover:cursor-pointer hover:bg-green-800 hover:text-white" (click)="findFruits('All')">All</button>
            <button class="p-1 mr-2 rounded-md hover:cursor-pointer hover:bg-green-800 hover:text-white " (click)="findFruits('Sweet')">Sweet</button>
             <button class="p-1 mr-2 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Semi-Acid')">Semi-Acid</button>
             <button class="p-1 mr-2 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Acid')">Acid</button>
            <button class="p-1 mr-2 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Oleaginous/Dry')">Oleaginous/Dry</button>
            <button class="p-1 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Melon')">Melons</button>
       </div>        
    }


     

   <!-- BUTTONS VISIBILI DA MD IN SU -->
    <div class="navBar-categories  w-fit mr-3 p-1 hidden  md:text-md md:inline-flex   ">
        <button class="p-1 mr-2 rounded-md hover:cursor-pointer hover:bg-green-800 hover:text-white" (click)="findFruits('All')">All</button>
        <button class="p-1 mr-2 rounded-md hover:cursor-pointer hover:bg-green-800 hover:text-white " (click)="findFruits('Sweet')">Sweet</button>
         <button class="p-1 mr-2 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Semi-Acid')">Semi-Acid</button>
         <button class="p-1 mr-2 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Acid')">Acid</button>
         <button class="p-1 mr-2 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Oleaginous/Dry')">Oleaginous/Dry</button>
         <button class="p-1 rounded-md hover:cursor-pointer  hover:bg-green-800 hover:text-white" (click)="findFruits('Melon')">Melons</button>
    </div>

    </div>
   
    
</div> 





