<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Fascinate&display=swap" rel="stylesheet">

<section class="homePage  w-full h-full   ">
    <app-hero-section></app-hero-section>

    <div class="fruit-container w-full h-40 border border-blue-700 ">CONTENITORE DI TUTTA LA FRUTTA

  @for(fruit of fruits; track $index){
     <div class="fruit-card border border-amber-500">
            <h2>Nome frutto: {{fruit.name}}</h2>
            <p>Famiglia: {{fruit.family}}</p>
        </div>
  }
       
    </div>
           


</section>

